* {
    box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.container {
    width: 1100px;
    margin: 0 auto;
}

.nice-base {
background:lightcyan;
}

.nice-try {
    background: peachpuff;
    padding: 25px;
}

.nice-try h1 {
    text-align: center;
    font-size: 45px;
    color: darkred;
    
}

.tbl {
    width: 100%;
    border: 1px solid #771849;
    overflow: hidden;
    box-shadow: 0 0 5px 2px grey ;
    border-radius: 8px;
    color: #1a1a1a
    


}

.tbl th {
    text-align: left;
    font-weight: 700;
    padding: 18px 16px;
    width: 150;
    
}

.tbl td {
    border: 1px solid grey;
}

.tbl th + th {
    width: auto;
}

.tbl td {
    padding: 8px 16px;
}


.btm {
    border-radius: 12px;
    padding: 4px 24px;
    width: 83px;
    height: 28px;
    background: yellowgreen;
}

.btm.ww {
    color:red;
}

.btm.qq {
    color: blue
}

.btm.ee {
    color: indigo;
}

.btm.rr {
    color: deeppink;
}

.mini {
    font-size: 12px;
}

.mond td {
    text-align: center;
    width: 100px;
    height: 100px;
    border: 2px solid black;
   }

.block1 {
    background: blue;
} 

 .block2 {
    background: aqua;
 }

.block3 {
    background: green;
}

.block4 {
    background: lawngreen;
}

.block5 {
    background: lightcoral;
}

.block6 {
    background: cornflowerblue;
}

.block7 {
    background: navy;
}

.block8 {
    background: gold;
}